<!--navigation-->
<launch>
    <!--mapserver************************************************-->
    <arg name='map' default="$(find nhk_2020)/map/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)">
    </node>
   <arg name="use_map_topic" default="true"/>
    <!--*************************************************-->  
    <param name="use_sim_time" value="false"/>
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" clear_params="true" output="screen">
     <remap from="base_pose_ground_truth" to="odom" />
     <param name="global_frame_id" value="map" />
     <param name="base_frame_id" value="base_link" />
    </node>
    
    <!--move_base************************************************-->    
        
        <arg name="cmd_vel_topic" default="cmd_vel" />
        <arg name="odom_topic" default="odom" />

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" clear_params="true" output="screen">
        
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
       <param name="controller_frequency" value="5.0" />
	   <param name="controller_patience" value="15.0" />
       
       
       <param name="base_global_planner" value="carrot_planner/CarrotPlanner"/>
       <param name="planner_frequency" value="1.0" />
	   <param name="planner_patience" value="5.0" /> 
        
        <param name="max_vel_y" value="1.0"/> 
        <rosparam file="$(find nhk_2020)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />        
        <rosparam file="$(find nhk_2020)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />        
        <rosparam file="$(find nhk_2020)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nhk_2020)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nhk_2020)/param/teb_local_planner.yaml" command="load" />
        <rosparam file="$(find nhk_2020)/param/base_local_planner_params.yaml" command="load" />
        </node>
       
       
       

        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
</launch>



