<launch>
  <!--for navigation-->
  <include file="$(find nhk_2020)/launch/run.launch"/>
  <node pkg="rosserial_python" type="serial_node.py" name="input">
    <param name="port" value="/dev/ttyACM1"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="ps3">
    <param name="port" value="/dev/ttyACM0"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="output">
    <param name="port" value="/dev/ttyACM2"/>
  </node>

  <node pkg="nhk_2020" type="pub_cmd" name="pub_cmd" output="screen">
  </node>
    <arg name="kp" default="90"/>
    <rosparam param="kp" subst_value="True">$(arg kp)</rosparam>
</launch>
